#

#inner-content {
	position: relative;
	white-space: pre;
	background: #fff;
	padding: 50px 100px;
	font-family: 'OpenSans', sans-serif;
	font-weight: 16px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0), 0 0 10px rgab(0, 0, 0, 0.1);
}
#headshot {
	text-align:center;
	border-radius: 50%;
	border: 3px sold #ffffff;
	align: right;
	border:4px double;
	border-color: #D3D3D3;
}